:root {
	--fullpage-translateY: 0;
	--fullpage-translateX: 0;
	--fullpage-scroll-speed: 700ms;
  --fullpage-transition-timing-function: ease-out;

	--fullpage-dot-size: 1rem;
	--fullpage-dot-action-size: .25rem;
	--fullpage-dot-action-hover-size: .5rem;
	--fullpage-dot-action-active-size: .75rem;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

.fullpage,
.fullpage * {
	padding: 0;
	box-sizing: border-box;
}

.fullpage-wrapper {
  display: grid;
	transform: translateY(var(--fullpage-translateY)) translateX(var(--fullpage-translateX));
  transition-property: transform, opacity;
  transition-duration: var(--fullpage-scroll-speed);
  transition-timing-function: var(--fullpage-transition-timing-function);
}

.fullpage,
.fullpage-slide {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
}

.fullpage-dots {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.fullpage-disable-select-and-drag {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.fullpage-dots ul {
	display: grid;
	list-style: none;
  margin: 0;
}

.fullpage-dot:hover .fullpage-dot-tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(-50%) translateX(0);
}

.fullpage-dot-action {
	all: unset;
  position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--fullpage-dot-size) + 1.5rem);
	height: calc(var(--fullpage-dot-size) + .5rem);
  padding-right: .5rem;
	cursor: pointer;
}

@media (max-width: 640px) {
  .fullpage-dot-action {
    width: calc(var(--fullpage-dot-size) + 1rem);
    height: calc(var(--fullpage-dot-size) + .25rem);
    padding-right: 0;
  }
}

.fullpage-dot-action:hover::after {
	width: var(--fullpage-dot-action-hover-size);
	height: var(--fullpage-dot-action-hover-size);
}

.fullpage-dot-action::after {
	content: "";
	width: var(--fullpage-dot-action-size);
	height: var(--fullpage-dot-action-size);
	background: white;
	border-radius: 99px;
	transition: 100ms ease-in-out;
}

.fullpage-dot--active .fullpage-dot-action::after {
	width: var(--fullpage-dot-action-active-size);
	height: var(--fullpage-dot-action-active-size);
}

.fullpage-dot-tooltip {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) translateX(25%);
  font-size: 0.75rem;
  white-space: nowrap;
  background: rgb(255 255 255 / 25%);
  padding: .25rem .5rem;
  border-radius: .5rem;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*  */

.fullpage--horizontal .fullpage-wrapper {
  display: flex;
}

.fullpage--horizontal .fullpage-slide {
  min-width: 100vw;
}

.fullpage--horizontal .fullpage-dots,
.fullpage-slide--has-inner .fullpage-dots {
  top: unset;
  bottom: 0;
  right: 50%;
	transform: translateX(50%);
}

.fullpage--horizontal .fullpage-dots ul,
.fullpage-slide--has-inner .fullpage-dots ul {
  display: flex;
}

.fullpage--horizontal .fullpage-dot-action,
.fullpage-slide--has-inner .fullpage-dot-action {
	height: calc(var(--fullpage-dot-size) + 1.5rem);
	width: calc(var(--fullpage-dot-size) + .5rem);
  padding-right: unset;
}

@media (max-width: 640px) {
  .fullpage--horizontal .fullpage-dot-action,
  .fullpage-slide--has-inner .fullpage-dot-action {
    height: calc(var(--fullpage-dot-size) + 1rem);
    width: calc(var(--fullpage-dot-size) + .25rem);
  }
}

.fullpage--horizontal .fullpage-dot-tooltip,
.fullpage-slide--has-inner .fullpage-dot-tooltip {
  top: unset;
  right: unset;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(25%);
}

.fullpage--horizontal .fullpage-dot:hover .fullpage-dot-tooltip,
.fullpage-slide--has-inner .fullpage-dot:hover .fullpage-dot-tooltip {
	transform: translateX(-50%) translateY(0) !important;
}

/*  */

.fullpage-inner-slide {
  position: relative;
	display: block;
	width: 100%;
	height: 100vh;

  min-width: 100vw;
}

.fullpage-slide--has-inner {
  /* overflow: hidden; */
  display: flex;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: var(--fullpage-scroll-speed);
  transition-timing-function: var(--fullpage-transition-timing-function);
}

/* Test */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background: #827397;
	color: #F2F2F2;
	font-family: 'Poppins', sans-serif;
}

.fullpage {
	background: #E9D5DA;
}

.fullpage-slide:not(.fullpage-slide--has-inner) {
  max-width: 100vw;
}

.fullpage-slide,
.fullpage-inner-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 64px;
}

.fullpage-slide:nth-child(1) {
	background: #827397;
}

.fullpage-slide:nth-child(2) {
	background: #4D4C7D;
}

.fullpage-slide:nth-child(3) {
	background: #363062;
}
